@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #eca4fb;
  padding: .5rem;
}
img{
  max-width: 100%;
  padding: 1rem;
  border-radius: 1.8rem;
  display: block;
  
  
}
p {
  line-height: 1.5;
}

.container {
  background-color: white;
  padding: 1em;
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.left {
  flex-grow: 1;
  flex-basis: 60%;
}

.right {
  flex-grow: 1;
  flex-basis: 30%;
  min-width: 12rem;
}